*.o
*.xml
.deps/
.libs/
Makefile
!contrib/Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
/stamp-h1
*.1
Documentation/daxctl/asciidoc.conf
Documentation/ndctl/asciidoc.conf
Documentation/daxctl/asciidoctor-extensions.rb
Documentation/ndctl/asciidoctor-extensions.rb
.dirstamp
Documentation/daxctl/asciidoc.conf
Documentation/daxctl/daxctl-io.1
Documentation/daxctl/daxctl-list.1
Documentation/daxctl/daxctl.1
Documentation/ndctl/asciidoc.conf
Documentation/ndctl/ndctl-check-labels.1
Documentation/ndctl/ndctl-check-namespace.1
Documentation/ndctl/ndctl-create-namespace.1
Documentation/ndctl/ndctl-destroy-namespace.1
Documentation/ndctl/ndctl-disable-dimm.1
Documentation/ndctl/ndctl-disable-namespace.1
Documentation/ndctl/ndctl-disable-region.1
Documentation/ndctl/ndctl-enable-dimm.1
Documentation/ndctl/ndctl-enable-namespace.1
Documentation/ndctl/ndctl-enable-region.1
Documentation/ndctl/ndctl-init-labels.1
Documentation/ndctl/ndctl-list.1
Documentation/ndctl/ndctl-read-labels.1
Documentation/ndctl/ndctl-write-labels.1
Documentation/ndctl/ndctl-zero-labels.1
Documentation/ndctl/ndctl.1
ccan/list/.dirstamp
ccan/str/.dirstamp
daxctl/daxctl
daxctl/lib/libdaxctl.la
daxctl/lib/libdaxctl.lo
daxctl/lib/libdaxctl.pc
*.a
ndctl/lib/libndctl.pc
ndctl/ndctl
rhel/
sles/ndctl.spec
util/log.lo
util/sysfs.lo
version.m4
*.swp
cscope.files
cscope*.out
tags
test/*.log
test/*.trs
test/blk-ns
test/dax-dev
test/dax-errors
test/dax-pmd
test/daxdev-errors
test/device-dax
test/dpa-alloc
test/dsm-fail
test/hugetlb
test/image
test/libndctl
test/mmap
test/multi-pmem
test/parent-uuid
test/pmem-ns
test/smart-listen
test/smart-notify
test/fio.job
test/local-write-0-verify.state
test/ack-shutdown-count-set
test/list-smart-dimm
libccan.a
libutil.a
ndctl/.dirstamp
ndctl/lib/libndctl.pc
ndctl/libndctl.h
ndctl/ndctl
ndctl/util/.dirstamp
rhel/ndctl.spec
sles/ndctl.spec
test/blk-exhaust.sh.log
test/blk-exhaust.sh.trs
test/btt-check.sh.log
test/btt-check.sh.trs
test/clear.sh.log
test/clear.sh.trs
test/create.sh.log
test/create.sh.trs
test/dax-errors
test/dax-errors.sh.log
test/dax-errors.sh.trs
test/daxdev-errors
test/daxdev-errors.sh.log
test/daxdev-errors.sh.trs
test/dpa-alloc
test/dpa-alloc.log
test/dpa-alloc.trs
test/dsm-fail
test/dsm-fail.log
test/dsm-fail.trs
test/label-compat.sh.log
test/label-compat.sh.trs
test/libndctl
test/libndctl.log
test/libndctl.trs
test/multi-dax.sh.log
test/multi-dax.sh.trs
test/multi-pmem
test/multi-pmem.log
test/multi-pmem.trs
test/parent-uuid
test/parent-uuid.log
test/parent-uuid.trs
test/sector-mode.sh.log
test/sector-mode.sh.trs
test/test-suite.log
util/.dirstamp
util/log.lo
util/sysfs.lo
version.m4
